		html,body{
			width: 100%;
			height: 100%;
		}
		#mcanvas{
			background-color: #ff00ff;
			position: absolute;
			z-index: 1;
			width: 80%;
			height: 100%;
		}
		.sidebarContainer{
			position: absolute;
			z-index: 2;
			background-color: #ffffff;
			width: 20%;
			height:100%;
			right: 0px;
			top: 0px;
			bottom: 0px;
		}
		.setter{
			margin: 10px;
			background-color: aquamarine;
		}
		.setter .form-label{
			 font-size: 20px;
			 margin: 0px;
			 font-weight: bold;
			 user-select: none;
			 
		}
		.toolButton{
			position: absolute;
			right: 0px;
			bottom: 0px;
			width: 30px;
			height: 30px;
			z-index: 3;
			margin: 0px;
		}
		.toolButton-hidden{
			display: none;
		}
		.toolButtonIcon{
			width: 100%;
			height: 100%;
			background-color: #ffffff;
		}
		.toolBar{
			position: absolute;
			right: 0px;
			bottom: 0px;
			width: 20%;
			height: 275px;
			z-index: 3;
			margin: 0px;
			background-color: #06357A;
		}
		.toolBar-hidden{
			display: none;
		}
		.virtualTrackBallContainer{
			background-color: white;

		}